{% extends "base.html" %}
{% load bootstrap4 i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block content %}
{% include 'html_blocks/flash_messages.html' %}
<div class="container mt-4">
    <h1>Список статей</h1>
    {% for article in articles %}
        <h2><a href="{% url 'articles_show' id=article.id %}">{{ article.name|truncatechars:25 }}</a></h2>
        <p>{{ article.body|truncatechars:50 }}</p>
    {% endfor %}
    <form action="{% url 'articles_create' %}" method="get">
        <button type="submit">Написать статью</button>
    </form>
</div>
{% endblock %}